body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  color: #333;
  margin: 0; padding: 0;
}
a { 
    color: #333; 
    text-decoration: none; 
}
h1, h2, p { 
    font-weight: bold; 
}

/* Navbar & Hero */
.hero-section {
  background: #fff url('./images/Hero-bg.png') center/cover;
  padding: 40px 20px; 
  text-align: center;
}
.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 0;
}
.logo {
  font-family: "Inter", sans-serif; 
  font-weight: 900; 
  font-size: 34px; 
  color: #4E47FF;
}
.sgnp-btn, .st-fd-btn, .lnch-btn, .gsf-btn {
  background: #4E47FF; 
  color: #fff; 
  border: none; 
  border-radius: 8px;
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
}
.sgnp-btn:hover, .st-fd-btn:hover, .lnch-btn:hover, .gsf-btn:hover { 
    background: #bd8b02; 
}
.banner-content { 
    margin-top: 50px; 
}
.hero-section .banner-content h1 {
  font-family: "Raleway", sans-serif; 
  font-weight: 700; 
  font-size: 80px; 
  color: #333; 
  margin-bottom: 20px;
}

/* Action */
.action {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 50px 20px; 
  background: #fff; 
  margin: 50px 30px;
}
.action-content { 
    color: #757575; 
    font-family: "Raleway", sans-serif; 
    font-size: 16px; 
    font-weight: 500; 
}
.action-left h2 { 
    font-size: 28px; 
    color: #333; 
}
.action .action-right img { 
    width: 90%; 
    max-width: 400px; 
    border-radius: 10px;
}

/* Productive Users */
.productive-users {
  background: #e6e8ff; 
  text-align: center; 
  padding: 50px 60px; 
  margin: 116px 165px 116px 155px; 
  border-radius: 24px;
}
.productive-users h2 { 
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
}
.stats { 
    display: flex; 
    justify-content: center; 
}
.stats div { 
    margin: 0 15px; 
    font-family: "Inter", sans-serif; 
}
.x { 
    color:rgba(0,0,0,0.5); 
    font-family: "Inter", sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
}
.user { 
    font-size: 50px; 
    color: #4E47FF; 
    font-family: "Inter", 
    sans-serif; 
    font-weight: bold; 
    margin-bottom: 2px; 
}
